.card {
  background-color: #efefef;
  margin: 1em auto;
  padding: 1em;
  border-radius: 5px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.card a {
  color: #02b3e4;
}

.card img {
  margin-right: 5px;
  border-radius: 50%;
}

.card .author-info {
  margin: 0;
  font-style: italic;
  font-size: .95em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .author-info p {
  margin: 0;
}